@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    line-height: 1.5;
}

header{
    overflow: auto;
    position: fixed;
    width:100%;
    background-color: #66CC33;;
    color:white;
    z-index: 999;
}

h1{
    color: #4eb305;
    font-size: 1.5em;
    float: left;
    margin-left:20px;
    margin-right:50px;
}
h2{
    text-align: center;
    font-weight: normal;
    padding: 20px;
}
header nav ul{
    list-style-type: none;
}
header nav li{
    float: left;
}
header nav a{
    color:  #420F84;
    background-color: #66CC33;
    text-decoration: none;
    padding:20px;
    display: block;
    font-size: 0.8em;
    transition: all 1s;
}
header nav a:hover{
    color: #66CC33;
    background-color: white;
}
section, footer{
    padding:60px 0 20px 0;
    text-align: justify;
}
section#home{
    background-color: #4eb305;
    color: white;
}
section#integrantes{
    background-image: url(../img/paralaxe.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
}

section ul li{
    margin:10px;
}
footer{
    align-items: center;
    background-color: #4eb305;

}
.grupo{
    width: 100%;
    align-items: center;
    margin-top: 1rem;
}

.imagem{
    float: left;
    width: auto;
}

.arcaimg{
    max-width:150px;
    max-height:100px;   
}

.inner{
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    margin-top: 2rem;
}

.in{
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}

.iner{
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}


.selected{
    background-color: #4eb305;
}
.pessoa{
    box-shadow: 0 4px 8px 0  grey;
    width: auto;
    height: auto;
    margin: 5px 10px 15px 20px;
    display: flex;
    color:  #420F84;
    background-color: #4EB304;
}

.pessoa span{
    color: #ffffff;
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px 0 grey;
    max-width: 300px;
    margin: 0.5rem;
    text-align: center;
    font-family: arial;
    width: 100%; 
    background-color: #ffffff;
}

.card img{
    width: 100%;
}

.cardtitle{
    color: green;
    font-size: 26px;
    font-weight: bold;
}

.descricao{
    margin: 1rem;
    width: 60%;
}

.descricao p{
    padding: 1rem 0 1rem 0;
}

.paragrafo{
    margin-top: 3rem;
    text-indent: 1.5em;
    line-height: 1.5;
}

.citacao{
    padding: 2rem;
}
.citacao span{
    font-style: italic;
    font-size: 14px;
    text-align: justify;
    color: #ffffff;
}

.networking {
    margin: 24px 0;
}

.networking a{
    text-decoration: none;
   
    color: black;
}


.rotate{
    animation: rot 1s linear infinite;

    
    /*
    animation-name: rot;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    */
}
.entrada{
    animation: entradaAnim 1s;
    animation-fill-mode: forwards;
}
@keyframes rot{
    from{ transform: rotate(0)}
    to{ transform: rotate(359deg)}
}
@keyframes entradaAnim{
    from{
        opacity: 0;        
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}